@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "flowbite";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Enable dark mode via class */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Rubik', 'ui-sans-serif', 'system-ui', '-apple-system';
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
}